fastapi==0.121.1
uvicorn[standard]==0.38.0
pandas==2.3.2
scikit-learn==1.7.2
scipy
spacy==3.8.7
nltk==3.9.1
pdfplumber==0.11.4
python-multipart==0.0.20
pydantic-settings==2.7.1
joblib==1.4.2
pytest==8.3.4
httpx==0.28.1
